.footer{
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    padding: 3rem 7rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.footer__menu, .footer__icons__copy{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer__logo{
    width: 50%;
}
.footer__navegation{
    display: flex;
    gap: 2rem;
}

.footer__item{
    color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    position: relative;
}
.footer__item::after{
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    margin-left: 15%;
    background-color: hsl(0, 0%, 100%);
    transition: 700ms;
    position: absolute;
    top: 25px;
}
.footer__item:hover.footer__item::after{
    width: 70%;
}

.footer__icons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.footer__icon{
    padding: 5px;
    position: relative;
}
.footer__icon::after{
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    margin-top: 10px;
    background-color: hsl(0, 0%, 100%);
    transition: 700ms;
    position: absolute;
    top: 25px;
}
.footer__icon:hover.footer__icon::after{
    width: 70%;
}

.footer__copy{
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
}
@media (max-width:1000px){
    .footer{
        padding: 3rem 2rem;
        flex-direction: column;
        justify-content: center;
        gap:2rem;
    }
    .footer__navegation{
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__logo{
        width: 90%;
        margin: 0 auto;
    }
    .footer__list{
        margin: 0 auto;
    }
    .footer__icons__copy{
        gap:1rem;
    }
    .footer__icons{
        justify-content: center;
    }
}